.notAllowPointer {
    cursor: not-allowed;
}

nav {
    display: flex;
    justify-content: center;
    background: #18191A;
    /* background: rgba(0, 0, 0, 0.5); */
    /* backdrop-filter: saturate(180%) blur(10px); */
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 9999;
    transition: .3s;
}

.nav-container {
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar .logo {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 1000;
    letter-spacing: 2px;
    /* color: #fff; */
}

.logo-buta {
    color: #33D9FA;
}

.nav-menu {
    transition: .3s;
}

.nav-menu-item {
    display: flex;
    margin: 0px;
}

.menu-text {
    padding: 20px;
    margin-bottom: 0px;
}

.menu-text a {
    /* color: #fff; */
    font-size: 1.2rem;
}

.nav-user-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px
}

.mode-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-menu {
    padding: 5px;
    margin: 0px;
}

.username-text {
    margin-right: 0.8rem;
}

/* .user-menu a { */
    /* color: #fff; */
/* } */

.fontawesome {
    /* color: #fff; */
    font-size: 1.5rem;
}

.menu-bar {
    font-size: 1.5rem;
    margin: 2rem;
    display: none;
    cursor: pointer;
    background: none;
    border-style: none;
}

.hamburger-area {
    display: none;
}

@media screen and (max-width: 1000px) {

    .nav-container {
        width: 100%;
    }

    nav {
        background: rgba(24, 25, 26, 1);
        /* backdrop-filter: blur(5px); */
    }

    .navbar {
        display: none;
        background: rgba(24, 25, 26, 0.8);
        backdrop-filter: blur(5px);
        height: 100vh;
        transition: .3s;
    }

    .non-hide {
        display:flex;
    }

    .hamburger-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: rgba(24, 25, 26, 0.8);
        /* background: blue; */
        height: 100px;
    }
    .menu-bar {
        color: #fff;
        display: flex;
    }

    nav {
        height: 100px;
    }

    .navbar {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-menu-item {
        flex-direction: column;
    }

    .menu-text {
        display: flex;
        justify-content: center;
    }


}